body {
    background-color: #282828;
    font-family: "FiraCode Nerd Font Mono", monospace;
    font-size: 14pt;
    color: #ebdbb2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input {
    font-family: "FiraCode Nerd Font Mono", monospace;
    font-size: 14pt;
    text-align: center;
    width: 100vw;
    border: none;
    outline: none;
}

.container {
    text-align: center;
    overflow: hidden;
}

.search-box {
    padding: 10px;
    background-color: #3c3836;
    font-family: "FiraCode Nerd Font Mono", monospace;
    border: none;
    color: #ebdbb2;
    border-radius: 5px;
    width: 200px;
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"] {
    padding: 10px;
    font-size: 14pt;
    background-color: #282828;
    border: none;
    color: #ebdbb2;
    border-radius: 5px;
}
